.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.footerTop {
  width: 100%;
  padding: 1.5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dev-info {
  display: flex;
  gap: 1rem;
}
.footerRight {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footerMiddle {
  width: 100%;
  top: 90%;
  position: absolute;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
  }
}
