* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.header-ht-margin {
  padding-top: 5.625rem;
}
.content-min-height {
  min-height: 90vh;
}
.common-pd {
  padding: 0 1rem;
}
.common-txt-clr {
  color: white;
}
